@keyframes hover-color {
  from {
    border-color: $border-color;
  }

  to {
    border-color: $main-color;
  }
}

input.magic-radio[type='radio'][disabled],
input.magic-checkbox[type='checkbox'][disabled] {
  cursor: not-allowed;
}

input.magic-radio[type='radio'],
input.magic-checkbox[type='checkbox'] {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  cursor: pointer;

  &:hover {
    &:before {
      border-color: $main-color;
    }
  }
  &:before,
  &:after {
    position: absolute;
    box-sizing: border-box;
    content: '';
  }
  &:before {
    position: absolute;
    z-index: 100000;
    margin-top: -2px;
    margin-left:-2px;
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 1px solid $border-color;
    background: #fff;
  }
  &:after {
    z-index: 100001;
    display: none;
  }
}

input.magic-radio[type='radio'][disabled],
input.magic-checkbox[type='checkbox'][disabled] {
  cursor: not-allowed;
  color: $disabled-color;
  &:hover,
  &:before,
  &:after {
    cursor: not-allowed;
  }
  &:hover {
    &:before {
      animation-name: none;
      border: 1px solid $disabled-color;
    }
  }
  &:before {
    border-color: $disabled-color;
  }
}


input.magic-radio[type='radio']:checked,
input.magic-checkbox[type='checkbox']:checked {
  &:before {
    animation-name: none;
  }
  &:after {
    display: block;
  }
}
