input.magic-radio[type="radio"] {
  &:before {
    border-radius: 50%;
    top: -2px;
    left: -2px;
  }
  &:after {
    top: 2px;
    left: 2px;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background: $main-color;
  }
}

input.magic-radio[type="radio"]:checked {
  &:before {
    border: 1px solid $main-color;
  }
  &:after {
    background: $main-color;
    display: block;
  }
}
input.magic-radio[type="radio"][disabled]:checked {
  &:before {
    border: 1px solid $disabled-checked-color;
  }
  &:after {
    background: $disabled-checked-color;
  }
}
